/* index.css or App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

nav {
  text-align: center;
}

.app {
  display: grid;
  place-items: center;
}

h1 {
  margin-top: 5%;
}

.todo-form-container {
  margin-top: 5%;
}

button {
  border: none;
  background-color: transparent;
}

.todo-wrapper {
  display: flex;
}

li {
  list-style: none;
}

.completed {
  text-decoration: line-through;
}

.save-btn {
  border: red;
  background-color: aliceblue;
}
